Makefile
Makefile.old
blib
*.swp
pm_to_blib
MANIFEST
MANIFEST.bak
MYMETA.yml
MYMETA.json
META.yml
META.json
/inc

sessions
logs
/db
/share
#/polls
/polls/*.txt
/polls/perl-mongers.json

SETUP.bat
Dwimmer-*
