<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title><% page.title %></title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />

<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/dwimmer.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/scriptbreaker-dropdownpanel-1.0.js"></script>

</head>
<body>
<div id="admin">
<div id="logged_in_bar">
<ul class="topnav">
	<li><a href="http://www.scriptbreaker.com" target="scriptbreaker" class="current">Home</a></li>
	<li><a href="#">JavaScript</a>
		<div class="submenu submenu_javascript">
			<ul>
				<li><a href="">Link title</a><br><span>Link description</span></li>
				<li><a href="">Link title</a><br><span>Link description</span></li>
				<li><a href="">Link title</a><br><span>Link description</span></li>
				<li><a href="">Link title</a><br><span>Link description</span></li>
				<li><a href="">Link title</a><br><span>Link description</span></li>
				<li><a href="">Link title</a><br><span>Link description</span></li>
			</ul>

		</div>
	</li>
	<li><a href="#">Tutorials</a>
		<div class="submenu submenu_tutorial">
			<ul>
				    <li><a href="#">June 2010</a></li>
				    <li><a href="#">May 2010</a></li>
				    <li><a href="#">April 2010</a></li>
				    <li><a href="#">March 2010</a></li>
				    <li><a href="#">February 2010</a></li>
				    <li><a href="#">January 2010</a></li>
				    <li><a href="#">December 2009</a></li>
				    <li><a href="#">November 2009</a></li>
				    <li><a href="#">October 2009</a></li>
				    <li><a href="#">September 2009</a></li>
				    <li><a href="#">August 2009</a></li>
				    <li><a href="#">July 2009</a></li>
			</ul>
		</div>
	</li>
	<li>
		<a href="http://www.scriptbreaker.com/contact/" target="_blank">Contact</a>
		<div class="submenu" style="left:50px;">
			<img src="free-icons-round-up-69.jpg"/>
		</div>
	</li>
	<li><a href="#">Upload script</a></li>
</ul>
</div>
<div>
logged in as <a id="logged-in"></a> 
| <a class="logout" href="">logout</a>
| <a href="/_dwimmer/manage">manage</a>
| <a class="edit_this_page" href="">edit this page</a>
</div>
<div id="guest_bar">
<form class="login">
<span class="login-label"> Username: </span><input name="username" />
<span class="login-label"> Password: </span><input type="password" name="password" />
<input type="submit" value="Login" />
</form>
<!--
Not yet implemented
<span><a href="/_dwimmer/lost_password">Lost password</a></span>
<span><a href="/_dwimmer/register">Register</a></span>
-->
</div>
</div>

<p>
<a href="/">home</a>
</p>
<div id="content">
<% content %>
</div>


<div id="editor">
  <form id="frm" action="/_dwimmer/save" method="POST">
  <input type="button" id="save" value="Save" />
  <input type="button" id="cancel" value="Cancel" />
  <input type="hidden" name="filename" value="<% page.filename %>" />
  <br />
  <input name="formtitle" id="formtitle" size="80" />
  <br />
  <textarea rows="10" cols="70" name="text" id="text"></textarea>
<!--  <br />
  Comman separated tags: <input id="formtags" size="80" />
-->
  </form>
</div>
<div id="preview"></div>


<div id="footer">
Powered by <a href="http://dwimmer.org/">Dwimmer</a> <% dwimmer_version %>
</div>
</body>
</html>
