<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title><% page.title %></title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />

<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/dwimmer.js"></script>

</head>
<body>
<div id="admin"></div>

<a href="/">home</a>
<% IF logged_in %>
| logged in as <a href="/show_user?id=<% userid %>"><% username %></a> 
| <a href="/logout">logout</a>
| <a href="/manage">manage</a>
| <a class="edit_this_page" href="">edit this page</a>
<% ELSE %>
| <a href="/register">register</a>
<form method="POST" action="/login">
name: <input name="username"> password: <input type="password" name="password"> <input type="submit" value="Login">
</form>
<% END %>
<p></p>
<div id="content">
<% content %>
</div>

<div id="editor">
  <form id="frm">
  <input type="button" id="sbmt" value="Save" />
  <input type="button" id="cancel" value="Cancel" />
  <br />
  <input id="formtitle" size="80" />
  <br />
  <textarea rows="10" cols="70" id="text"></textarea>
<!--  <br />
  Comman separated tags: <input id="formtags" size="80" />
-->
  </form>
</div>
<div id="preview"></div>


<div id="footer">
Powered by <a href="http://dwimmer.org/">Dwimmer</a> <% dwimmer_version %>
</div>
</body>
</html>
