<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<title>Perlsphere - the Perl blog aggregator</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<style>
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  /* text-align: center;*/
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;

}
#header_text {
}

.entry {
  background-color: #DDD;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #000;

}
.title {
  font-size: 24px;
  font-weight: bold;
}
.title a {
   text-decoration: none;
}
</style>


  <h1>Perlsphere feeds</h1>
  <a href="/">home</a>

[% FOR e IN entries %]
  <div class="entry">
  <div class="title"><a href="[% e.url %]">[% e.title %]</a></div>
  </div>
[% END %]

</div>
</body>
</html>
