<ul>
<li><a href="/_dwimmer/list_users">list users</a></li>
<li><a href="/_dwimmer/add_user">add user</a></li>
<li><a href="/_dwimmer/add_page">add a new page</a></li>
<li><a href="/_dwimmer/pages">list pages</a></li>
</ul>


