User data
<table border="1">
<tr><td>id</td><td><% user.id %></td></tr>
<tr><td>name</td><td><% user.name %></td></tr>
<tr><td>fname</td><td><% user.fname %></td></tr>
<tr><td>lname</td><td><% user.lname %></td></tr>
<tr><td>email</td><td><% user.email %></td></tr>
<tr><td>verified</td><td><% user.verified %></td></tr>
<tr><td>register_ts</td><td><% user.register_ts %></td></tr>
</table>
